<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Rails3 Mongoid Devise" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Rails3 Mongoid Devise" %>">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
  </head>
  <body>
 
<div class="navbar navbar-inverse navbar-fixed-top">

      <div class="navbar-inner">
        <div class="ccontainer-fluid">        
          <div class="nav-collapse collapse">         
          <%= render 'layouts/navigation' %>
          
          </div><!--/.nav-collapse -->
        </div>
      </div>   
    </div>

<div class="container-fluid">
<div class="row-fluid" >

  <%= render 'layouts/messages' %>
    <div class="hero-unit">
  <%= yield %>
</div>

        <footer>
          <p>© Company 2012</p>
        </footer>


</div>
</div>


  </body>
</html>
